[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/akshatsrivastava11/solana-starter.git
[submodule "gush"]
	path = gush
	url = https://github.com/akshatsrivastava11/gush.git
