[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/akshatsrivastava11/solana-starter.git
[submodule "gush"]
	path = gush
	url = https://github.com/akshatsrivastava11/gush.git
[submodule "mintCraft-nft_program"]
	path = mintCraft-nft_program
	url = https://github.com/akshatsrivastava11/mintCraft-nft_program.git
[submodule "mintCraft-frontend"]
	path = mintCraft-frontend
	url = https://github.com/akshatsrivastava11/mintCraft-frontend.git
[submodule "mintCraft-model-registry"]
	path = mintCraft-model-registry
	url = https://github.com/akshatsrivastava11/mintCraft-model-registry.git
[submodule "mintCraft-marketplace"]
	path = mintCraft-marketplace
	url = https://github.com/akshatsrivastava11/mintCraft-marketplace.git
[submodule "mintCraft-backend"]
	path = mintCraft-backend
	url = https://github.com/akshatsrivastava11/mintCraft-backend.git
